
<app-dlg-organization-detail (onReceiveResult)="reveice($event)"></app-dlg-organization-detail>

<button nz-button nzType="primary" (click)="addOgn()">新建机构</button>
<button nz-button nzType="primary">新建部门</button>
<button nz-button nzType="primary">新建岗位</button>
<button nz-button nzType="primary">新建人员</button>
<button nz-button nzType="primary">分配人员</button>

<nz-table 
    #basicTable 
    [nzData]="orgs"
    [nzFrontPagination]="tbConfig.frontPagination"
    [nzLoading]="tbConfig.loading"
    [nzTotal]="tbConfig.total"
    [(nzPageIndex)]="tbConfig.pageIndex"
    [(nzPageSize)]="tbConfig.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead>
        <tr>
            <th>名称</th>
            <th>编码</th>
            <th>全路径名</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let org of basicTable.data">
            <td>{{org.name}}</td>
            <td>{{org.code}}</td>
            <td>{{org.fullName}}</td>
            <td>
                <a (click)="editOrg(org)">编辑</a>
            </td>
        </tr>
    </tbody>
</nz-table>


