<nz-modal [(nzVisible)]="isVisible" nzWidth="70%" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  
  <form nz-form [nzLayout]="'inline'" [formGroup]="formModel" (ngSubmit)="submitForm()">
    <div nz-row>

      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="3">上级组织</nz-form-label>
          <nz-form-control [nzSm]="19">
            <input nz-input formControlName="parentName">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">名称</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="name" placeholder="name">
            <nz-form-explain *ngIf="formModel.get('name').dirty && formModel.get('name').errors">请输入名称!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">编码</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="code" placeholder="编码">
            <nz-form-explain *ngIf="formModel.get('code').dirty && formModel.get('code').errors">请输入编码!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">类型</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="orgKindName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">级别</nz-form-label>
          <nz-form-control [nzSm]="14"> 
            <!-- 使用说明：必须使用[nzValue]="opt.id"的方式，设置了level的值时，才会正确回显 -->
            <nz-select formControlName="level" nzAllowClear>
              <nz-option *ngFor="let opt of levelOptions" [nzValue]="opt.id" [nzLabel]="opt.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">电话</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input formControlName="phone" nz-input>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">传真</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="fax">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">全称</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="longName">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6">邮编</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input formControlName="zip">
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="3">地址</nz-form-label>
          <nz-form-control [nzSm]="19">
            <input nz-input formControlName="address">
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    
  </form>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</nz-modal>