
mat-toolbar.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

mat-sidenav-container.sidenav-container {
    min-height: calc(100% - 42px);
    height: auto!important;
    max-width: 100%;
    margin: 0;
    -webkit-transform: none;
    transform: none;
}

mat-sidenav.mat-sidenav.sidenav {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    background-color: #fafafa;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.sidenav-content {
    height: 100%;
    padding: 80px 3rem 1rem;
}

footer {
    position: relative;
    line-height: 24px;
    flex: 1;
    padding: 1px;
    z-index: 0;
    background-color: #1976d2;
    color: #fafafa;
    font-weight: 300;
    margin-bottom: 1px;
}

footer p {
    text-align: center;
    margin: 10px 0 5px;
}

a, input, li, ol, p, ul {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}